.myMenu{
    position: relative;
    background-color: #229ce2;
    height: 50px;
    text-align: center;
}

.myMenu ul{
    clear: left;
    position: relative;
    line-height: 50px;
    text-transform: uppercase;
}

.myMenu ul li {
    position: relative;
    left: 10%;
    float: left;
    height: 39px;
}

.myMenu ul li a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 0px 10px
}

.myMenu ul > li:hover > a {
    background-color: #0186BA;
    color: #fafafa
}

.myMenu ul li ul {
    background: #fff;
    border-radius: 3px;
    text-transform: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    line-height: 18px;
    top: 50px;
    font-size: 12px;
    margin-top: 20px;
    height: auto;
    min-width: 150px;
    width: 100%;
}

.myMenu ul li ul a{
    color: #229ce2;
    padding: 10px 15px;
}

.myMenu ul li ul li {
    border: none;
    position: relative;
    left: 0;
    float: none;
    height: auto;
    text-align: left;
}

.myMenu ul li ul li ul {
    top: 0;
    left: 100%;
    margin: 0 0 0 20px;
}

.show {
    visibility: visible;
    margin: 0;
    z-index: 50;
}
