html{
	height: 100%;
}
body{
	height: 100%;
	background-color: light-gray;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #cedce7;
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); 
}

.item-list{
	margin: 0;
	padding: 0;
}

.item-list li{
    list-style: none;
    margin: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 4px;
    background-clip: padding-box; 
    font-size:18px;
    font-weight: 500; 
    color: #A4A4A4; 
    vertical-align: middle;  
}

.controls{
	background-color: black;
	padding: 30px;
	text-align: center;
}

.fa{
	cursor: pointer;
	margin: 3px;
	color: #A4A4A4;
	float: right;
}

.fa:hover{
	color: #ff6600;
}

input{
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    font-size:18px;
    font-weight: 500;    
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}


input.item {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:25px;
}

input:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

.btn {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #253737;
    background: #416b68;
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); 
    padding: 10.5px 21px;
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}
.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #ff6600;
    background-image: linear-gradient(to bottom, #ffcc00 0%, #ff6600 100%);
    color: #fff;
 }