ul.tabNavigation {
	list-style: none;
	margin: 0px 0px 0px 20px;
	padding: 0;
}

ul.tabNavigation li {
	display: inline;
}

.links {
	padding: 3px 10px 0px 10px;
	background-color: black;
	text-decoration: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    color: #c1c0c0;
    font-size: 20px;
}

.links:hover {
	background: #ccc;
    color: black;
}

.links:focus {
	outline: 0;
}

body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tabs > div{
	background-color: black;
	font-size: 18px;
	padding: 30px;
    color: #c1c0c0;
}

#tabs{
    margin: 50px;
}

.selected{
	color: red;
}

.selected:hover{
	color: red;
	background-color: black;
}

.formBox{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.formBox div{
    margin: 10px;
}

.tooltip{
    position: absolute;
    z-index:100;
    left:0px;
    top: 0px;
    background-color:#dedede;
    padding:5px;
    border:1px solid #fff;
    width:250px;
    display: none;
}
.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}

.toolBox{
    position: relative;
}

.formBox input{
    font-size: 22px;
}