/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.center, .conteiner {
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Ubuntu', sans-serif; }

.conteiner {
  max-width: 1160px; }

header {
  margin-top: 50px; }

.topNav {
  margin-bottom: 40px; }

.logo {
  float: left;
  min-width: 300px;
  color: black; }
  .logo img {
    float: left;
    margin-right: 10px; }
  .logo__name {
    font-size: 25px;
    font-weight: 500; }
  .logo__text {
    font-size: 12px;
    font-weight: 200; }

.social {
  float: right; }
  .social__item {
    display: inline-block;
    width: 20px;
    height: 18px; }
  .social__link {
    width: 20px;
    margin-left: 1px;
    margin-right: 1px; }
  .social__facebook:hover {
    background: url("../../img/socials.png") 0 -19px; }
  .social__facebook {
    background: url("../../img/socials.png") 0 0; }
  .social__twiter:hover {
    background: url("../../img/socials.png") -19px -19px; }
  .social__twiter {
    background: url("../../img/socials.png") -19px 0; }
  .social__new:hover {
    background: url("../../img/socials.png") -38px -19px; }
  .social__new {
    background: url("../../img/socials.png") -38px 0; }
  .social__linkedin:hover {
    background: url("../../img/socials.png") -57px -19px; }
  .social__linkedin {
    background: url("../../img/socials.png") -57px 0; }
  .social__skype:hover {
    background: url("../../img/socials.png") -73px -19px; }
  .social__skype {
    background: url("../../img/socials.png") -73px 0; }

.bottomNav {
  background-color: #2a2d33; }
  .bottomNav .menu {
    float: left; }
    .bottomNav .menu__item {
      height: 55px;
      display: inline-block;
      border-right: 1px solid black;
      padding: 0 50px; }
      .bottomNav .menu__item a {
        display: block;
        font-size: 14px;
        line-height: 55px;
        vertical-align: middle;
        color: #fff; }
        .bottomNav .menu__item a:hover {
          color: #f4b60d; }
      .bottomNav .menu__item--active {
        background-color: #248cec; }
  .bottomNav .search {
    float: right;
    padding: 7px;
    position: relative; }
    .bottomNav .search__request {
      padding-left: 10px;
      display: inline-block;
      line-height: 35px;
      border: 1px solid black;
      background-color: #35383c;
      color: #fff; }
    .bottomNav .search__button {
      position: absolute;
      right: 8px;
      top: 8px;
      line-height: 35px;
      width: 35px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: #595c5f;
      font-size: 20px; }
      .bottomNav .search__button:hover {
        color: white; }

header {
  margin-bottom: 30px; }

.description {
  margin-top: 20px; }
  .description .descriptionItem {
    width: 33%;
    float: left;
    position: relative; }
    .description .descriptionItem__number {
      font-size: 100px;
      font-weight: 700;
      color: #e9e9ea;
      position: absolute;
      padding-right: 20px; }
    .description .descriptionItem__content {
      margin-left: 130px;
      padding-top: 15px; }
      .description .descriptionItem__content h2 {
        margin: 15px 0px 20px 0px;
        font-size: 22px;
        font-weight: 600; }
      .description .descriptionItem__content p {
        font-size: 13px;
        color: lightgray;
        line-height: 18px;
        margin-bottom: 20px; }
      .description .descriptionItem__content a {
        color: black;
        font-weight: 500;
        font-size: 13px; }
        .description .descriptionItem__content a span {
          padding-right: 5px; }
        .description .descriptionItem__content a:hover {
          color: #248cec; }

.midleBox {
  background-color: #2a2d33;
  margin-top: 40px;
  padding-bottom: 40px; }
  .midleBox .services {
    color: white; }
    .midleBox .services h2 {
      font-size: 25px;
      line-height: 120px; }
    .midleBox .services .servicesLinks {
      text-align: center; }
      .midleBox .services .servicesLinks .servicesLinks__item {
        display: inline-block;
        margin: 1%; }
        .midleBox .services .servicesLinks .servicesLinks__item a {
          color: white; }
          .midleBox .services .servicesLinks .servicesLinks__item a p {
            font-weight: 600;
            line-height: 50px; }
          .midleBox .services .servicesLinks .servicesLinks__item a div {
            background-color: #248cec;
            height: 260px;
            position: relative; }
            .midleBox .services .servicesLinks .servicesLinks__item a div .horLine {
              position: absolute;
              height: 2px;
              background-color: white;
              width: 15%;
              top: 50%;
              left: 50%;
              z-index: 99;
              transform: translate(-50%, -1px);
              display: none; }
            .midleBox .services .servicesLinks .servicesLinks__item a div .verLine {
              position: absolute;
              width: 2px;
              background-color: white;
              height: 15%;
              top: 50%;
              left: 50%;
              z-index: 99;
              transform: translate(-1px, -50%);
              display: none; }
          .midleBox .services .servicesLinks .servicesLinks__item a:hover {
            color: #f4b60d; }
            .midleBox .services .servicesLinks .servicesLinks__item a:hover img {
              opacity: 0.1; }
            .midleBox .services .servicesLinks .servicesLinks__item a:hover .horLine, .midleBox .services .servicesLinks .servicesLinks__item a:hover .verLine {
              display: block; }

.news {
  background: #f7f7f7;
  padding: 40px 0 50px 0;
  color: #8a8a8a; }
  .news .latestNews {
    width: 50%;
    float: left; }
    .news .latestNews h2 {
      margin-bottom: 50px;
      font-size: 24px;
      font-weight: 600;
      color: black; }
    .news .latestNews__linktext {
      color: #248cec; }
    .news .latestNews__linkhead {
      font-size: 16px;
      font-weight: 600;
      color: black; }
      .news .latestNews__linkhead:hover {
        color: #248cec; }
    .news .latestNews__item {
      margin-bottom: 30px; }
      .news .latestNews__item__images {
        float: left;
        position: relative;
        margin: 0 25px 0 15px; }
        .news .latestNews__item__images .cube, .news .latestNews__item__images .month, .news .latestNews__item__images .day {
          position: absolute;
          left: -12px;
          padding: 3px;
          line-height: 35px;
          width: 35px;
          text-align: center; }
        .news .latestNews__item__images .month {
          top: 10px;
          color: white;
          background-color: #248cec; }
        .news .latestNews__item__images .day {
          top: 45px;
          color: black;
          background-color: #f4b60d; }
      .news .latestNews__item p {
        margin-top: 25px; }
      .news .latestNews__item h3 {
        margin-bottom: 10px; }
  .news .bannersPlace {
    width: 50%;
    float: left; }
    .news .bannersPlace__item {
      margin: 3px; }
      .news .bannersPlace__item__header {
        cursor: pointer; }
        .news .bannersPlace__item__header .show {
          display: block; }
        .news .bannersPlace__item__header .hide {
          display: none; }
        .news .bannersPlace__item__header div {
          border: 2px solid #e8e8e8;
          box-sizing: border-box;
          line-height: 40px;
          font-size: 13px;
          font-weight: 600;
          background-color: white;
          color: black; }
          .news .bannersPlace__item__header div p {
            padding-left: 60px; }
        .news .bannersPlace__item__header div:first-child {
          float: left;
          font-size: 16px;
          min-width: 45px;
          text-align: center; }
      .news .bannersPlace__item__body {
        margin: 40px 0 40px 40px;
        line-height: 20px;
        font-size: 13px;
        display: none; }
      .news .bannersPlace__item--active .bannersPlace__item__header div {
        background-color: #f4b60d; }
      .news .bannersPlace__item--active .bannersPlace__item__header .show {
        display: none; }
      .news .bannersPlace__item--active .bannersPlace__item__header .hide {
        display: block; }
      .news .bannersPlace__item--active .bannersPlace__item__body {
        display: block; }

.brands {
  padding: 70px 0 70px 0;
  text-align: center; }
  .brands__item {
    display: inline-block;
    margin: 0 15px 0 15px; }

.map {
  background-color: #2a2d33;
  padding-bottom: 70px; }
  .map__item {
    display: inline-block;
    color: white;
    width: 22.5%;
    margin: 0 1% 0 1%; }
    .map__item h2 {
      font-size: 16px;
      font-weight: 600;
      margin: 50px 0 30px 0; }
    .map__item .mapMenu__item {
      color: #8a8a8a;
      border-bottom: 1px solid #393c40;
      line-height: 34px;
      font-size: 14px; }
      .map__item .mapMenu__item:hover {
        color: #248cec; }
      .map__item .mapMenu__item--last {
        border: none; }

footer {
  line-height: 60px;
  background-color: #35383c;
  color: #8a8a8a;
  font-size: 12px; }
  footer .contacts {
    float: left;
    margin: 0 30px 0 30px; }
    footer .contacts span {
      padding-left: 10px; }
  footer .developer {
    float: right; }

/*# sourceMappingURL=style.css.map */
