//size elements
$max-withDesktop: 940px;

//colors
$light-text-color: white;
$dark-text-color: black;
$active-color: blue;
$intence-color: #ff4e50;
$muted: #666666;

//fonts
$main-font-light: 300 14px 'Roboto', sans-serif;
$main-font-normal: 400 14px 'Roboto', sans-serif;
$main-font-bold: 700 14px 'Roboto', sans-serif;
$intence-font-bold: 700 14px 'Montserrat', sans-serif;
$intence-font-normal: 400 14px 'Montserrat', sans-serif;