.jcarousel-wrapper {
    display: inline-block;
    width: 300px;
    margin-right: 16px;
    overflow: hidden;
    position: relative;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    left: 20px;
    bottom: 18px;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);

}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 154px;
    width: 30px;
    height: 55px;
    background: #4E443C;
    background: url(../../img/nav.png);
}

.jcarousel-control-prev {
    left: 21px;
    background-position: 0 0;
}

.jcarousel-control-next {
    right: 22px;
    background-position: -31px 0;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    left: 10px;
    top: 10px;
}

.jcarousel-pagination a {
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
    background: white;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    text-indent: -999px;  
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
